<div class="col-md-12 db-project-stage-content-header">		
	<div class="db-project-stage-content-header-content">
		<p>
			<span>No.#</span>
			<span class="db-project-stage-content-header-input">
				<input type="checkbox" />
			</span>
			<span class="db-project-stage-content-header-text-1">
				Pre-defined stage name
			</span>
		</p>					
	</div>
	<div class="db-project-stage-content-header-btn">
		<span>
			<button type="button" class="btn btn-default">Submit</button>
		</span>
	</div>
</div>