<div class="col-md-12 db-project-stage-content-comments">
	<div class="col-md-12 separator20"></div> 
	
	<div class="col-md-12">
		<span>
			<img class="db-project-stage-content-comments-image-user" 
				src="assets/images/u152.png" />
		</span>
		
		<span class="db-project-stage-content-comments-input">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Leave comments..."/>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						Comments
					</button>
				</span>
			</div>
		</span>		
	</div>
	
	<div class="col-md-12 separator20"></div> 
	
	<div class="col-md-12">		
		<span>
			<img class="db-project-stage-content-comments-image-user" 
				src="assets/images/u152.png" />
		</span>	
		<span class="db-project-stage-content-comments-message">
			<p>
				User feedback and comments user feedback and comment user feedback and comment user 
				feedback and comment user feedback and comment			
			</p>
		</span>
		<span class="db-project-stage-content-comments-reply">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Reply..."/>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						Reply
					</button>
				</span>
			</div>			
		</span>
			
	</div>
	
</div>