<div class="col-md-12 vertical-separator20"></div>

<div class="col-md-12">
	<div class="col-md-12 no-padding wf-stage-content-headers">
		<div class="col-md-2 no-padding">
			<h4>No. 1</h4>
		</div>
		<div class="col-md-10 no-padding">
			<input type="text" placeholder="Stage name" />
		</div>
	</div>
</div>

<div class="col-md-12 vertical-separator20"></div>

<div class="col-md-12">
	<accordion ng-repeat="content in vm.accordion_contents" class="wf-stage-content-panel-group" close-others="false">
		<accordion-group is-open="content.is_open">
			<accordion-heading>
				{{ content.header  }}
				<i class="pull-right glyphicon"
					ng-class="{'glyphicon-chevron-down': content.is_open, 'glyphicon-chevron-right': !content.is_open }">
				</i>
			</accordion-heading>
			<div ng-include="content.template"></div>
		</accordion-group>		
	</accordion>
</div>