<div class="col-md-12 vertical-separator20"></div>

<div class="col-md-12">
	<div class="col-md-12 no-padding wf-stage-content-headers">
		<div class="col-md-2 no-padding">
			<h4>No. 1</h4>
		</div>
		<div class="col-md-10 no-padding">
			<input type="text" placeholder="Stage name" />
		</div>
	</div>
</div>

<div class="col-md-12 vertical-separator20"></div>

<div class="col-md-12">
	<accordion close-others="true">
		<accordion-group is-open="true">
			<accordion-heading>
				Description
				<i class="pull-right glyphicon"
					ng-class="{'glyphicon-chevron-down': true, 'glyphicon-chevron-right': !true }">
				</i>
			</accordion-heading>
			<div class="col-md-12 no-padding">
				<div text-angular="text-angular" style="padding:2px;" 
					name="htmlcontent" 
					ng-model="htmlcontent" 
					ta-disabled='disabled'>
				</div>                 
			</div>
		</accordion-group>		
		<accordion-group is-open="true">
			<accordion-heading>
				Form
				<i class="pull-right glyphicon"
					ng-class="{'glyphicon-chevron-down': true, 'glyphicon-chevron-right': !true }">
				</i>
			</accordion-heading>
			<div class="col-md-12 wf-state-content-header no-padding">
				<p>Form</p>                    
			</div>
			<div class="col-md-12 wf-state-content-form">
				<div class="separator20"></div>
				<tabset>
					<tab heading="Form Library">
						Form Library
					</tab>
					<tab heading="Create form" active="true">
						<div ng-include="'app/views/workflow-stage-content-form-create.html'"></div>   
					</tab>
				</tabset>
			</div>
		</accordion-group>
	</accordion>
</div>