<div class="col-md-12 vertical-separator20"></div>

<div class="col-md-12">
	<p>
		<h4>Workflow Name</h4>
		
		<div class="col-md-12 vertical-separator10"></div>
		
		Description about this workflow description about this workflow description
		about this workflow 
		  
		<div class="col-md-12 vertical-separator20"></div>
		      
		<div class="col-md-12 no-padding">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default">Move</button>
				<button type="button" class="btn btn-default">Copy</button>
				<button type="button" class="btn btn-default">Delete</button>
				<button type="button" class="btn btn-default">Activate</button>
			</div>                     
		</div>
	</p>

	<div class="col-md-12 vertical-separator20"></div>
	
	<p>
		Created by: Firstname Lastname My Title Here
		<br />
		Created : Date / Month / Year 
		<br />
		Updated : Date / Month / Year 
	</p>      
</div>

<div  class="col-md-12 vertical-separator20"></div>

<div class="col-md-12 no-padding wf-info-stage-item">
	<div class="col-md-12 no-padding">
		<span>
			<img src="assets/images/u38.png" />
		</span>
		<span class="wf-info-stage-item-check">
			<input type="checkbox" />
		</span>		
		<span class="wf-info-stage-item-label">
			Workflow stage name 1
		</span>
		<span class="wf-info-stage-item-icon-1 wf-info-stage-item-icon">
			<img src="assets/images/u42.png" />
		</span>		
		<span class="wf-info-stage-item-icon-2 wf-info-stage-item-icon">
			<img src="assets/images/u40.png" />
		</span>				
		<span class="wf-info-stage-item-active wf-info-stage-item-visible">
			<img src="assets/images/u78.png" />
		</span>
	</div>

	<div class="col-md-12 no-padding">
		<span>
			<img src="assets/images/u38.png" />
		</span>
		<span class="wf-info-stage-item-check">
			<input type="checkbox" />
		</span>		
		<span class="wf-info-stage-item-label">
			Workflow stage name 1
		</span>
		<span class="wf-info-stage-item-icon-1">
			<img src="assets/images/u42.png" />
		</span>		
		<span class="wf-info-stage-item-icon-2 wf-info-stage-item-icon">
			<img src="assets/images/u40.png" />
		</span>				
		<span class="wf-info-stage-item-active">
			<img src="assets/images/u78.png" />
		</span>
	</div>
	
	<div class="col-md-12 no-padding">
		<span>
			<img src="assets/images/u38.png" />
		</span>
		<span class="wf-info-stage-item-check">
			<input type="checkbox" />
		</span>		
		<span class="wf-info-stage-item-label">
			Workflow stage name 1
		</span>
		<span class="wf-info-stage-item-icon-1 wf-info-stage-item-icon">
			<img src="assets/images/u42.png" />
		</span>		
		<span class="wf-info-stage-item-icon-2 wf-info-stage-item-icon">
			<img src="assets/images/u40.png" />
		</span>				
		<span class="wf-info-stage-item-active wf-info-stage-item-visible">
			<img src="assets/images/u78.png" />
		</span>
	</div>
	
	<div class="col-md-12 no-padding">
		<span class="wf-info-stage-item-new">
			<img src="assets/images/u32.png" />
		</span>		
		<span class="wf-info-stage-item-new-data">
			<span class="glyphicon glyphicon-plus"></span>
			<input type="text" placeholder="Add new stage..."/>
		</span>
	</div>
</div>
