<div ng-include="'app/components/navbar/navbar.html'"></div>
<div class="dashboard-container">
	<div class="dashboard-container-body wf-h">
		<div class="col-md-3 wf-h wf-folder-pane">
			<div ng-include="'app/components/dashboards/workflow/workflow-folder.html'"></div>
		</div>
		<div class="col-md-4 wf-h wf-info-stage-page no-padding">
			<div ng-include="'app/components/dashboards/workflow/workflow-info-stage.html'"></div>
		</div>
		<div class="col-md-5 wf-h no-padding">
			<div ng-include="'app/components/dashboards/workflow/workflow-stage-content.html'"></div>
		</div>
	</div>
</div>