.wf-block-container {
    border-right:1px solid #000;
}

.wf-center-element p {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 10px
}

.p-center {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 10px
}

.wf-container {
	margin-top: 70px;
	padding-bottom: 5px;
}