<div class="col-md-12 cd-left-pane-add-new">
	<div class="col-md-12 vertical-separator20"></div>
	<button class="btn btn-default">
		ADD NEW CLIENT
	</button>				
</div>

<div class="col-md-12 vertical-separator20"></div>

<div class="col-md-12 cd-left-pane-search">
	<input type="text" placeholder="Search..." />
</div>

<div class="col-md-12 vertical-separator10"></div>

<div class="col-md-12 no-padding cd-left-pane-data-header">
	<span>A</span>
</div>

<div class="col-md-12 vertical-separator10"></div>

<div class="col-md-12 no-padding cd-left-pane-data">
	<span>AAA client name</span><br />
	<span>AAA client name</span><br />
	<span>AAA client name</span><br />
	<span>AAA client name</span><br />
	<span>AAA client name</span><br />
</div>

<div class="col-md-12 vertical-separator10"></div>

<div class="col-md-12 no-padding cd-left-pane-data-header">
	<span>B</span>
</div>
		
<div class="col-md-12 vertical-separator10"></div>

<div class="col-md-12 no-padding cd-left-pane-data">
	<span>BBB client name</span><br />
	<span>BBB client name</span><br />
	<span>BBB client name</span><br />
	<span>BBB client name</span><br />
	<span>BBB client name</span><br />
</div>