<div class="col-md-12">
	
	<div class="col-md-12 no-padding">
		<div class="cd-right-pane-header">
			<h3>AAA CLIENT NAME</h3>
		</div>
		
		<div class="cd-right-pane-delete">
			<button class="btn btn-default">Delete</button>		
		</div>
	</div>
	
	<div class="col-md-12 vertical-separator10"></div>
	
	<div class="col-md-12 no-padding">
		<div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
				Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, 
				nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.							
			</p>
		</div>
	</div>
	
	<div class="col-md-12 vertical-separator30"></div>
	
	<div class="col-md-12 no-padding">	
		<div class="col-md-12 no-padding">
			<div>
				<h3>3 Projects in progress</h3>
			</div>
		
			<div class="cd-right-pane-buttons">
				<div class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default">Comming soon</button>
					<button type="button" class="btn btn-default active">In progress</button>
					<button type="button" class="btn btn-default">Complete</button>
				</div>				
			</div>
		</div>
		
		<div class="col-md-12 vertical-separator10"></div>
		
		<div class="col-md-12 no-padding">
			<table class="table table-bordered cd-right-pane-table-header">
				<thead>
					<tr>
						<th>Name</th>
						<th>User</th>
						<th>Project progress</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Notification</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Project_name</td>
						<td>
							<img style="height:25px;" src="assets/images/u29.png" />
						</td>
						<td>
							<div style="position:absolute;top:48px;">
								<span style="position:absolute;top:-9px;">
									70%
								</span>
								<span style="position:absolute;top: 3px;">
									<img src="assets/images/u20.png" />
								</span>
							</div>
						</td>
						<td>01/01/2015</td>
						<td>01/01/2015</td>
						<td style="font-size: 18px;">
							<span class="glyphicon glyphicon-comment"></span>
							<span class="glyphicon glyphicon-bell"></span>
						</td>
						<td>Active</td>
					</tr>
					
					<tr>
						<td>Project_name</td>
						<td>
							<img style="height:25px;" src="assets/images/u29.png" />
						</td>
						<td>
							<div style="position:absolute;top:94px;">
								<span style="position:absolute;top:-9px;">
									70%
								</span>
								<span style="position:absolute;top: 3px;">
									<img src="assets/images/u20.png" />
								</span>
							</div>
						</td>
						<td>01/01/2015</td>
						<td>01/01/2015</td>
						<td style="font-size: 18px;">
							<span class="glyphicon glyphicon-comment"></span>
							<span class="glyphicon glyphicon-bell"></span>
						</td>
						<td>Active</td>
					</tr>
					
				</tbody>
			</table>			
		</div>
		
	</div>
	
</div>