<div class="top-nav-bar">
	<div class="left-nav">
		<img src="assets/images/yougov_logo.png" />
	</div>
	
	<div class="breadcrum-divider">
		<img src="assets/images/header_divider.png" />
	</div>
	
	<div class="left-nav-menu">
		<span>
			WORKFLOW / APAC 
		</span>
		<span class="left-nav-menu-down-arrow">
			<img src="assets/images/down_arrow.png" />
		</span>
	</div>
	
	<div class="right-nav-menu">
		<span>Workflow</span>
		<span class="right-nav-menu-h-separator"> | </span>
		<span>Project</span>
	</div>
	
	<div class="right-nav">
		<span class="glyphicon glyphicon-bell right-nav-notification-icon"></span>
		
		<span class="right-nav-user-profile">
			<img src="assets/images/user_profile_avatar.png" />
		</span>
	</div>
</div>