.vertical-separator10 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.vertical-separator20 {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.vertical-separator30 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.vertical-separator40 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.vertical-separator50 {
	margin-top: 25px;
	margin-bottom: 25px; 
}

.no-padding {
	padding: 0px !important;
}

span img:active {
	visibility: visible; 
}