<div class="container main-container" style="height:1000px;">
	<div class="col-md-6">
		<div ng-include="'app/components/project.collaboration/project.info.area/project.info.area.html'"></div>		
	</div>
	
	<div class="col-md-6 db-project-stage-content no-padding">
		<div class="col-md-12 no-padding">
			<div ng-include="'app/components/project.collaboration/project.stage.content.area/project.stage.content.header.html'"></div>
		</div>
		
		<div class="col-md-12 vertical-separator20"></div>
		
		<div class="col-md-12">
			Description, supporting images or anything you wish to communicate with other team members can be included here
		</div>
		
		<div class="col-md-12 vertical-separator20"></div>
		
		<div class="col-md-12">
			<div class="col-md-4" style="border:1px solid #000;padding:10px;height:200px;">
			</div>
			
			<div class="col-md-8" style="border:1px solid #000;padding:10px;height:200px;">
			</div>
		</div>
		
		<div class="col-md-12 vertical-separator20"></div>
		
		<div class="col-md-12 db-project-stage-content-form">
			<div class="col-md-12">
				<h3>Form</h3>
				<div ng-include="'app/components/project.collaboration/project.stage.content.area/project.stage.content.area.form.html'"></div>							
			</div>				
		</div>
		
		<div class="col-md-12 vertical-separator20"></div>
		
		<div class="col-md-12 db-project-stage-content-media">
			<div class="col-md-12">
				<h3>Media</h3>
				<div ng-include="'app/components/project.collaboration/project.stage.content.area/project.stage.content.area.media.html'"></div>				
			</div>
		</div>
		
		<div class="col-md-12 vertical-separator30"></div>
		
		<div class="col-md-12 no-padding">
			<div ng-include="'app/components/project.collaboration/project.stage.content.area/project.stage.content.area.comments.html'"></div>							
		</div>
		
	</div>
</div>