<div class="col-md-3 main-container-h wf-block-container no-padding">
    <div class="col-md-12" style="border-bottom:1px solid #000;height:50px;padding:0px">
    </div>

    <div  class="col-md-12" style="margin-top:10px;margin-bottom:10px;"></div>

    <div class="col-md-12">
        <button class="btn btn-default">
            ADD NEW WORKFLOW
        </button>

        <br />
        <br />

		<div ui-tree>
			<ol ui-tree-nodes="" ng-model="vm.workflows" id="tree-root">
				<li ng-repeat="node in vm.workflows" 
					ui-tree-node 
					ng-include="'app/views/nodes_renderer.html'"></li>
			</ol>
		</div> 

    </div>
</div>