<div class="col-md-12 wf-state-content-form-left-container">
    <div class="col-md-4 wf-state-content-form-left no-padding">
           
    </div>
    <div class="col-md-8 wf-state-content-form-right-container">
        <div class="form-group">
            <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="9" id="comment"></textarea>
        </div>
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
                Clear All
            </button>
            <button type="button" class="btn btn-default">
                Create All
            </button>
        </div>                            
    </div>
</div> 