<div class="col-md-12" style="padding:0px;">
    <div class="col-md-12" style="padding:0px;background-color:#C9CFD1;">
        <p style="text-align:center;display:table-cell;vertical-align:middle;padding:10px">
            Description
        </p>                    
    </div>
    <div class="col-md-12" style="padding:0px;">
        <div text-angular="text-angular" style="padding:2px;" 
            name="htmlcontent" 
            ng-model="htmlcontent" 
            ta-disabled='disabled'>
        </div>                 
    </div>
</div>