<div class="col-md-12 no-padding">
    <div class="col-md-12 wf-state-content-header no-padding">
        <p>Media</p>                    
    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;"></div> 

        <div class="col-md-12" style="padding:0px;margin:10px;border:1px solid #000;height:100px;">
            
        </div>

        <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;"></div> 

        <div class="col-md-12" style="padding:0px;">
            <div>
                
            </div>
        </div>

    </div>
</div>