.separator20 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.vertical-separator20 {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.vertical-separator30 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.vertical-separator10 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.vertical-separator50 {
	margin-top: 25px;
	margin-bottom: 25px; 
}

.no-padding {
	padding: 0px !important;
}

.wf-block-container {
    border-right:1px solid #000;
}

.wf-center-element p {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 10px
}

.p-center {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 10px
}

.wf-container {
	margin-top: 70px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}