<div class="col-md-3" style="border-right:1px solid #000;height:1200px;padding:0px;">
    <div class="col-mid-12" style="margin-top:35px;margin-left:20px;margin-right:20px;">
         <p>
             <h4>Workflow Name</h4>
             <br /><br />
            Description about this workflow description about this workflow description
            about this workflow   
            <br /><br />      
            <div class="col-md-10" style="padding:0px;">
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default">Move</button>
                  <button type="button" class="btn btn-default">Copy</button>
                  <button type="button" class="btn btn-default">Delete</button>
                </div>                     
            </div>
            <div class="col-md-2">
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default">Activate</button>
                </div>                      
            </div>       
         </p>

         <br /><br />

         <p>
             Created by: Firstname Lastname My Title Here
             <br />
             Created : Date / Month / Year 
             <br />
             Updated : Date / Month / Year 
         </p>           
    </div>
     
    <div  class="col-md-12" style="margin-top:10px;margin-bottom:10px;"></div>

    <div class="col-md-12" style="padding:2px;background-color:#D5E7ED;font-size:14px;">
         <div class="col-md-2" style="background-color:#C9CFD1;height:40px;">
             <p style="text-align:center;display:table-cell;vertical-align:middle;padding:10px">
                 1
             </p>
         </div>
         <div class="col-md-10" style="background-color:white;height:40px;">
            <p style="text-align:center;display:table-cell;vertical-align:middle;padding:10px">
              <input type="checkbox" aria-label="...">
              Workflow stage name
            </p>
         </div>
    </div>

    <div class="col-md-12" style="padding:2px;background-color:#D5E7ED;font-size:14px;">
         <div class="col-md-2" style="background-color:#C9CFD1;height:40px;">
             <p style="text-align:center;display:table-cell;vertical-align:middle;padding:10px">
                 2
             </p>
         </div>
         <div class="col-md-10" style="background-color:white;height:40px;">
            <p style="text-align:center;display:table-cell;vertical-align:middle;padding:10px">
              <input type="checkbox" aria-label="...">
              Workflow stage name
            </p>
         </div>
    </div>
</div>