<div class="col-md-4 wf-block-container main-container-h">
    <div class="col-mid-12" style="margin-top:35px;margin-left:20px;margin-right:20px;">
         <p>
             <h4>Workflow Name</h4>
             <br /><br />
            Description about this workflow description about this workflow description
            about this workflow   
            <br /><br />      
            <div class="col-md-12" style="padding:0px;">
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default">Move</button>
                  <button type="button" class="btn btn-default">Copy</button>
                  <button type="button" class="btn btn-default">Delete</button>
                  <button type="button" class="btn btn-default">Activate</button>
                </div>                     
            </div>
         </p>

         <br /><br />

         <p>
             Created by: Firstname Lastname My Title Here
             <br />
             Created : Date / Month / Year 
             <br />
             Updated : Date / Month / Year 
         </p>           
    </div>
     
    <div  class="col-md-12" style="margin-top:10px;margin-bottom:10px;"></div>

    <div ng-repeat="stage in vm.workflowStages" class="col-md-12 wf-info-stage-list-item">
         <div class="col-md-2 wf-info-stage-list-item-no">
             <p>{{ stage.no }}</p>
         </div>
         <div class="col-md-10 wf-info-stage-list-item-name">
            <p>
              <input type="checkbox" aria-label="...">
              {{ stage.name }}
            </p>
         </div>
    </div>
    
</div>