<div class="col-md-12 no-padding">
    <div class="col-md-12 wf-state-content-header no-padding">
        <p>Media</p>                    
    </div>
    <div class="col-md-12 no-padding">
        <div class="col-md-12 separator20"></div> 

        <div class="col-md-12 wf-stage-content-media-upload">
            
        </div>

        <div class="col-md-12 separator20"></div> 

        <div ng-repeat="media in vm.workflowMedias" class="col-md-12 wf-center-element no-padding">
            <div class="col-md-1 no-padding wf-stage-content-media-list-border">
                <img id="u19_img" ng-src="{{ media.image }}">
            </div>

            <div class="col-md-5 no-padding wf-stage-content-media-list-border ">
                <p>
                    {{ media.name }}
                </p>
            </div>

            <div class="col-md-4 no-padding wf-stage-content-media-list-border ">
                <p>
                    {{ media.date }}
                </p>
            </div>

            <div class="col-md-2 no-padding wf-stage-content-media-list-border-select">
                
            </div>

        </div>

    </div>
</div>