<div class="col-md-5" style="height:1200px;padding:0px;">
    <div class="col-md-12" style="margin-top:35px;margin-left:20px;margin-right:20px;">
        <div class="col-md-12" style="padding:0px;">
            <div class="col-md-2" style="padding:0px;">
                 <h4>no.1</h4>
            </div>
            <div class="col-md-10" style="padding:0px;">
                <input type="text" class="form-control" /> 
            </div>            
        </div>

        <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;"></div>

        <div class="col-md-12" style="padding:0px;">
            <div class="col-md-12" style="padding:0px;background-color:#C9CFD1;">
                <p style="text-align:center;display:table-cell;vertical-align:middle;padding:10px">
                    Description
                </p>                    
            </div>
            <div class="col-md-12" style="padding:0px;">
                <div text-angular="text-angular" style="padding:2px;" 
                    name="htmlcontent" 
                    ng-model="htmlcontent" 
                    ta-disabled='disabled'>
                </div>                 
            </div>
        </div>

        <div class="col-md-12" style="padding:0px;">
            <div class="col-md-12" style="padding:0px;background-color:#C9CFD1;">
                <p style="text-align:center;display:table-cell;vertical-align:middle;padding:10px">
                    Form
                </p>                    
            </div>
            <div class="col-md-12" style="padding:0px;">
                <div class="col-md-12" style="height:50px;padding:0px;border-bottom:1px solid #000;">
                    <h4>Create Form</h4>
                </div>
                <div class="col-md-12" style="padding:0px;height:320px;">
                    <div class="col-md-4" style="background-color:#F0F4F5;height:300px;margin:10px;">                            
                    </div>
                    <div class="col-md-6" style="padding:0px;margin:10px;">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="9" id="comment"></textarea>
                        </div>
                         <div class="btn-group pull-right" role="group" aria-label="...">
                          <button type="button" class="btn btn-default">Clear All</button>
                          <button type="button" class="btn btn-default">Create All</button>
                        </div>                            
                    </div>
                </div>                 
            </div>
        </div>

        <div class="col-md-12" style="padding:0px;">
            <div class="col-md-12" style="padding:0px;background-color:#C9CFD1;">
                <p style="text-align:center;display:table-cell;vertical-align:middle;padding:10px">
                    Media
                </p>                    
            </div>
            <div class="col-md-12" style="padding:0px;">
                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;"></div> 

                <div class="col-md-12" style="padding:0px;margin:10px;border:1px solid #000;height:100px;">
                    
                </div>

                <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;"></div> 

                <div class="col-md-12" style="padding:0px;">
                    <div>
                        
                    </div>
                </div>

            </div>
        </div>

     </div>
</div>