.workflow-state-content {
	height:1200px;
	padding:0px;
	margin-top: 20px;
}

.nav-tabs > li {
    float: right;
}

.wf-state-content-form {
	padding: 0px;
	height: 370px;
}

.wf-state-content-form-left-container {
	height:320px;
	padding: 10px;
}

.wf-state-content-form-left {
	background-color:#F0F4F5;
	height:300px;
}

.wf-state-content-form-right-container {
	padding-right: 0px;
}
 
.wf-state-content-header {
	background-color:#C9CFD1;
}

.wf-state-content-header p {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 10px
}